html, body {
    height: 500px;
    margin: 0;
    background-color: rgb(10, 10, 10); 
    font-family: "Montserrat", sans-serif;
}

.carteleraPeliculas{
    margin: 240px auto 0 auto;
    max-width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.aviso{
    font-family: "Pinyon Script", cursive;
    letter-spacing: 2px;
    margin: 200px 0 auto;
    font-size: 50px;
}
.agregarPelicula {
    z-index: 1500px;
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: black; 
    border: none; 
    outline: none;
    font-size: 16px; 
    color: white;
    width: 100%; 
    padding: 20px;
    max-width: 300px; 
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
