.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  backdrop-filter: blur(2px); 
}

.modal {
  position: relative;
  background-color: black;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 1000px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  animation: aparecer 0.3s ease-out;
  border: 1px solid white;
}

.formulario{
  text-align: center;
}


  .botonCerrar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}
  
.botonEnviar {
  background-color: none;
  padding: 0.75rem 2rem;
  border: 1px solid white;
  border-radius: 3rem;
  cursor: pointer;
  font-weight: bold;
  margin: 3rem auto 0;
  display: block;
}

  
  @keyframes aparecer {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

.filaForm1,
.filaForm2,
.filaForm3 {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}

.filaForm2 .input {
  width: 450px;
}

.filaForm2 .rating{
  width: 150px;
}

.filaForm1 .input {
  width: 240px;
}

.filaForm1 .inputSmall {
  flex: 0 1 100px;
}